.userProfile {
    text-align: center;
}

.userProfile> button {
    border: none;
    color: white;
    font-weight: 500;
    background-color: #ff6e40;
    padding: 6px 20px;
    margin-top: 30px;
    border-radius: 5px;
}